extends lauot

block content
    div.wrap
        article
            header
                h1 404
                p Page not found
                hr
            section
                p Oops! Sorry, but the page you are looking for has not been found. Use our
                    a(href='/')     homepage
                    |   to start with.