extends lauot

block content
    div.wrap
        article
            header
                h1 This is the "Node Sample Task"
                hr
            section
                p
                    a(href='/secret.html') Click
                    |  to enter...