doctype html
html
    head
        title= title
        style.
            .wrap{max-width: 600px; margin: 50px auto;}
        block css


    body
        block content

        footer
            block footer