extends lauot

block css
    link(rel='stylesheet', href='/css/ext-theme-classic-all.css')

block footer
     script(type='text/javascript', src='/js/ext-all.js')
     script(type='text/javascript', src='app.js')